body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.grinch {
    width: 300px;
}

.myProfile {
    display: flex;
    flex-direction: column;
}

div {
    margin: 10px;
    display: flex;
    justify-content: center;
}

#firstform,
#secondform {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

form {
    width: 30%;
}

.navbar {
    height: 100px;
    display: flex;
}

button {
    width: auto;
}

.profile {
    width: 145px;
    height: 100%;
}

p {
    margin: 10px;
}

.nav-img img {
    object-fit: scale-down;
    width: 60px;
}
