* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* main {
    width: 100%;
} */

.nav-img {
    height: fit-content;
    /* margin-left: 15%; */
    border: 0;
    background-color: transparent;
}

.nav-img-medium {
    width: 150px;
    height: fit-content;
}

.nav-img-small {
    border: rgb(198, 95, 91) 2px solid;
    object-fit: scale-down;
    width: 60px;
    box-shadow: 2px 3px 10px rgb(224 110 107);
    display: flex;
}

.profile {
    width: 145px;
    height: 100%;
}

.navbar {
    height: 100px;
    width: 100%;
    display: flex;
    margin: 10px;
}

.nav-li {
    margin: 0 60px;
}

.logo-small {
    width: 140px;
    box-shadow: 2px 3px 10px rgb(224 110 107);
    border-radius: 62%;
}

.container-small {
    height: 100px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.profileHome {
    margin: 20px;
    display: flex;
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myProfile {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.bio-small,
.mask,
.button-container,
.button-container button {
    width: 165px;
    height: 45px;
    font-size: 12px;
}

.bio-editor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
    width: 35em;
    margin: 10px;
}

.userName {
    font-size: 25px;
    font-family: "Satisfy", cursive;
}

.bio-editor textarea {
    margin: 15px;
}

.chat {
    justify-content: flex-start;
    display: flex;
    flex-direction: column-reverse;
    margin: 37px;
    overflow-y: scroll;
    height: 70vh;
    width: 70%;
    margin: auto;
}

.chat-img {
    width: 50;
    margin: 20px;
    height: 90px;
}

.chat-textarea {
    width: 50%;
    height: 60px;
    resize: none;
    overflow-y: scroll;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.new-message {
    margin: 20px;
}

.chat-info {
    display: flex;
    align-items: center;
}

#chatName {
    font-size: 14px;
}

#chatMessage {
    font-size: 20px;
    text-align: justify;
}

#chatTimestamp {
    font-size: 10px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: rgb(198, 95, 91) solid 3px; */
    height: 200px;
    width: 165px;
    /* margin: 20px; */
    box-shadow: 2px 3px 10px rgb(224 110 107);
}

.findUser {
    gap: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.friendships {
    margin-top: 80px;
}
