body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-img-medium {
    width: 150px;
}

.nav-img-small {
    object-fit: scale-down;
    width: 60px;
}

.grinch {
    object-fit: scale-down;
}
